/* MEDIA QUERIES */
@media (max-width: 600px) and (min-width: 320px) {
  .card {
  border-top: 0.2px;
  border-right: 0px;
  }
}
/*=====================================================*/
/* Fonts */
@font-face {
  font-family: myFirstFont;
  src: url("./Dependencies/Fonts/Futura/Futura.ttc");
}


/*=====================================================*/
/* Custom CSS */
body {
  font-family: "myFirstFont";
  letter-spacing: 0.2px;
  overflow-x: hidden;
}

.active {
  text-decoration-line: underline;
  text-underline-position: under;
  max-width: 100px;
}

.hide-content {
  display: none;
}

.border-red {
  border: 1px solid red;
}

/*=====================================================*/
/* HEADER SECTION */
#header {
  background-color: rgba(0,0,0,0.65) !important;
  background: transparent;
}

.nav-link:hover {
  color: white !important;
}



/*=====================================================*/
/* PORTFOLIO SECTION */
.img-col {
  position: relative;
  width: 37%; /* The size you want */
}
.img-col:after {
  content: "";
  display: block;
  padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}

.portfolio-images {
  /*position: absolute; /* Take your picture out of the flow */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /* Make the picture taking the size of it's parent */
  width: 100%; /* This if for the object-fit */
  height: 100%; /* This if for the object-fit */
  object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
}

/*=====================================================*/
/* FOOTER SECTION */
#footer {
  
}

.card {
  background-color: rgba(0,0,0,0.65) !important;
  background: transparent;
  border-radius: 0%;
  border-top: 0px;
  border-left: 0px;
  border-right: 0.2px;
  border-color: white;
  border-style: solid; 
  font-size: 12px;
  transition: 0.3s;
}

.card:last-child {
  border-right: 0px;
}

.card-text:hover {
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.border-splitter {
    border-bottom: 0.2px solid white;
    width: 100% !important;
}

.card-text {
  color: white;
}

.fa-facebook-square:hover {
  color: #3b5998;
}

.fa-instagram:hover {
  color: #F56040;
}

.fa-youtube-square:hover {
  color: #bb0000;
}

.no-link-decoration:hover {
  text-decoration: none;
}



/*=====================================================*/
/* ABOUT SECTION */
#about {
  background-color: rgba(0,0,0,0.75);
  border-top: 1px solid white;
}
